page-home {
    ion-content {
        background: url(../assets/imgs/bg1.jpeg) no-repeat center fixed;
        background-size: cover;
    }

    .date {
        font-weight: bold;
        color: #888;
        padding-right: 24px;
        font-size: 0.8em;
    }
}
